html, body
{
  margin:           0px;
  padding:          0px;
  border:           0px;
  background-color: #fff7ef;
}

#container
{
  width:   600px;
  margin:  0 0 0 20px; /* top right bottom left */
  padding: 0;
}

#container h1
{
  margin:        0;
  padding:       0;
  width:         100%;
  height:        50px;
  float:         left;
  border-bottom: #0000c0 solid 3px;
}

#container #colLeft
{
  width: 340px;
  float: left;
}

#container #colRight
{
  width:   240px;
  float:   right;
  margin:  0;
  padding: 0;
}

#container #anzeige, #internals, #strom
{
  border-width: 1px;
  border-color: #000000;
  border-style: solid;
  border-radius: 5px;
  display: table;
  padding: 0 0 0 3px; /* top right bottom left */

}

#container #anzeige .label, #internals .label, #strom .label
{
  width: 120px;
  float: left;
  white-space: nowrap;
}

#container #anzeige .value, #internals .value, #strom .value
{
  width: 100px;
  float: right;
}

#container #footer
{
  float:      left;
  width:      100%;
  border-top: #0000c0 solid 3px;
}
